.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.todo-list {
  list-style: none;
}

.todo-list li {
  margin: 5px;
}

.todo-caption {
  background-color: deepskyblue;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.todo-caption.selected {
  background-color: dodgerblue;
}
